<%- include('partials/header') %>

<section class="login-page">
  <div class="">
    <form class="form" action="/login" method="post">
      <h1>Sign In</h1>
      <input class="input" type="text" name="username" placeholder="Username">
      <input class="input" type="password" name="password" placeholder="Password">
      <button class="btn btn-dark button" type="submit" name="button">Sign In</button>
    </form>
  </div>
</section>

<%- include('partials/footer') %>
