<%- include('partials/header') %>

<header class='nav-header'>
  <img class="nav-image" src="https://cdn.pixabay.com/photo/2016/11/27/21/42/stock-1863880_1280.jpg" alt="">
  <h1 class='logo'>Organiser</h1>
  <input type="checkbox" id="nav-toggle" class="nav-toggle">
  <nav>
    <ul>
      <li><a href="/passwords">Home</a></li>
      <li><a href="/cards">Credit Cards</a></li>
      <li><a href="/onlinebanking">Online Banking</a></li>
      <li><a href="/onlineaccounts">Online Accounts</a></li>
      <li><a href="/bills">Bills</a></li>
      <li><a href="/logout">Log Out</a></li>
    </ul>
  </nav>
  <label for="nav-toggle" class="nav-toggle-label"><span></span></label>
</header>

<section class="content">
  <div class="items">
    <a href="/cards">
      <figure id="item" class="creditcard-item">
        <img class="content-img" src="images/creditcard.png" alt="">
        <figcaption id="item-1">
          <h2>Credit Cards</h2>
          <p>Manage credit card credentials.</p>
        </figcaption>
      </figure>
    </a>
    <a href="/onlinebanking">
    <figure class="onlinebanking-item">
      <img class="content-img" src="images/onlinebanking.jpeg" alt="">
      <figcaption>
        <h2>Online Banking</h2>
        <p>Manage online banking credentials.</p>
      </figcaption>
    </figure>
    </a>
    <a href="/onlineaccounts">
    <figure class="onlineaccounts-item">
      <img class="content-img" src="images/onlineaccounts.jpeg" alt="">
      <figcaption>
        <h2>Online Accounts</h2>
        <p>Manage any credentials belonging to various online accounts.</p>
      </figcaption>
    </figure>
    </a>
    <a href="/bills">
    <figure class="bills-item">
      <img class="content-img" src="images/bills.jpeg" alt="">
      <figcaption>
        <h2>Bills</h2>
        <p>Manage, organise and track bills or expenses.</p>
      </figcaption>
    </figure>
    </a>
  </div>
</section>

<%- include('partials/footer') %>
