*, *::after, *::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

button {
  outline: none;
}

button:focus {
  outline: 0;
}

.block {
  display: block;
}

/*************************************LOGIN************************************/
.login-page {
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1557217620-07784062e4b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80);
  background-color: #666;
  background-blend-mode: multiply;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.login-page div {
  align-items: center;
  background: rgba(39, 40, 56, 0.7);
  border-radius: 5px;
  display: flex;
  height: 60vh;
  width: 25vw;
  justify-content: center;
  text-align: center;
}

.login-page h1 {
  color: white;
  font-size: 2em;
  text-align: center;
}

.login-page form input {
  background: none;
  border: 2px solid rgb(100, 97, 101);
  border-radius: 50px;
  color: white;
  display: block;
  font-size: 1em;
  height: 3em;
  margin: 2em auto;
  padding: 25px 25px;
  text-align: center;
  transition: 0.50s;
}

.login-page form input[type='text']:hover, .login-page form input[type='password']:hover {
  border-color: white;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: white;
}

.button {
  width: 100px;
  margin-right: .6em;
}

/***********************************PASSWORDS**********************************/
/************************************HEADER************************************/
.nav-header {
  background: rgba(39, 40, 56, 0.5);
  font-family: 'Work Sans', sans-seriff;
  font-weight: 200;
  height: 70px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1;
}

nav {
  background: rgba(39, 40, 56, 0.5);
  position: absolute;
  left: 0;
  top: 100%;
  text-align: left;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  width: 100%;
}

.nav-image {
  display: none;
}

nav ul {
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  font-size: 1.2rem;
  font-weight: 200;
  opacity: 0;
  text-transform: uppercase;
  transition: opacity 150ms ease-in;
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  align-items: center;
  display: flex;
  height: 100%;
  left: 0;
  margin-left: 1em;
  position: absolute;
  top: 0;
}

.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
  background: white;
  display: block;
  height: 2px;
  width: 2em;
}

.nav-toggle-label span::before, .nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  top: 30px;
}

.nav-toggle-label span::after {
  bottom: 30px;
}

.nav-toggle:checked~nav {
  transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
  opacity: 1;
  transition: opacity 400ms 250ms ease-in;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  .nav-toggle {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: minmax(100px, 270px) 1fr;
    position: relative;
  }

  .nav-image {
    box-shadow: 0px 2px 5px;
    display: inline-grid;
    width: 120%;
    height: 100%;
    opacity: 0.2;
    object-fit: cover;
    position: relative;
  }

  .logo {
    align-self: center;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    grid-column: 1/ 2;
    position: absolute;
    width: 300px;
  }

  nav {
    all: unset;
    align-items: center;
    display: flex;
    grid-column: 4/5;
    justify-content: flex-end;
    right: 20px;
    position: relative;
  }

  nav a {
    opacity: 1;
    font-size: 1.1em;
  }

  nav a::before {
    background: white;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
    top: -.3em;
    transform: scale(0, 1);
    transition: transform 200ms ease-in-out;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }

  nav a:hover {
    text-decoration: none;
    color: grey;
  }

  nav ul {
    display: flex;
    position: relative;
    top: 17px;
    right: 50px;
  }

  nav li {
    margin-left: 2.5em;
    position: relative;
  }
}

/*********************************HOME CONTENT*********************************/
.content {
  background-image: url(https://images.unsplash.com/photo-1557217620-07784062e4b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80);
  background-color: #666;
  background-blend-mode: multiply;
  height: 100vh;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15vh 5% 0;
}

.content-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.items figure {
  position: relative;
  margin: 0;
}

.items figcaption {
  background: rgba(2, 87, 108, .4);
  bottom: 0;
  color: white;
  left: 0;
  opacity: 0;
  padding-left: 5%;
  padding-top: 5%;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 500ms ease-in-out;
}

.items figcaption:hover {
  opacity: 1;
}

@media screen and (max-width: 700px) {
  .items {
    grid-template-columns: 100%;
  }
}

/**********************************MAIN CONTENT********************************/
table, th, td {
  border: 2px solid grey;
  color: white;
}

th {
  background-image: linear-gradient(#3A3B4A 5%, #9C9DA4);
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
}

td {
  font-weight: 200;
  padding: 5px 0px 5px 7px;
}

.main-content {
  animation: background-change 10s ease-in-out infinite;
  padding-top: 5.3em;
  background-blend-mode: overlay;
  background-image: linear-gradient(-45deg, #9C9DA4, #61626E);
  background-size: 400%;
  height: 100vh;
}

.main-header {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
}

.main-management {
  color: white;
  display: grid;
  font-family: 'Roboto', sans-serif;
  grid-template-columns: 18% 77%;
  grid-column-gap: 5%;
  padding: 1.5% 4% 0;
}

.btn {
  margin-top: .2em;
}

.form h5 {
  font-weight: 600;
}

.card-type {
  margin: 7px 20px 15px 0;
}

@keyframes background-change {
  0% {
    background-position: 0 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0 50%
  }
}

.type-dropdown {
  margin-bottom: .8em;
}

.form input {
  background: #EBEBEC;
  opacity: .6;
  border-radius: 5px;
  margin-bottom: .8em;
  padding-left: 10px;
  width: 100%;
}

.form label::after {
  content: '';
  background-color: white;
  display: block;
  height: 1px;
  width: 235px;
  margin: 3px 0;
}

.delete-btn {
  background-color: #757680;
  color: white;
  font-size: .8em;
  border-radius: 5px;
  padding: 2px 12px;
}

.delete-btn:hover {
  background-color: #4E4F5C;
}

.btn-center {
  text-align: center;
}

/***********************************MODAL*********************************/
.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  display: none;
}

.modal-content {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  height: 315px;
  text-align: center;
}

.delete-content {
  text-align: center;
}

.delete-content form input {
  background-color: #C4C4C8;
  border-radius: 3px;
  display: block;
  height: 27px;
  padding-left: 7px;
  margin: 15px auto 0;
}

.trash-img {
  align-self: center;
  height: 80px;
  width: 130px;
  margin-bottom: 7px;
}

.trash-btn {
  border-radius: 10px;
  padding: 3px 20px;
  margin-top: 18px;
}

.close {
  cursor: pointer;
  font-size: 35px;
  position: absolute;
  right: 14px;
  top: 2px;
  transform: rotate(45deg);
}

/***********************************PW MODAL**********************************/
.pw-modal {
  align-items: center;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  display: none;
}

.modal-height {
  height: 330px;
}

.pw-img {
  align-self: center;
  width: 150px;
  height: 100px;
  margin-bottom: 7px;
}

.pw-close {
  cursor: pointer;
  font-size: 35px;
  position: absolute;
  right: 14px;
  top: 2px;
  transform: rotate(45deg);
}

.show-pw-content {
  text-align: center;
}

.show-pw-content form input {
  background-color: #C4C4C8;
  border-radius: 3px;
  display: block;
  height: 27px;
  padding-left: 7px;
  margin: 15px auto 0;
}

.text-decoration {
  background: none;
  color: white;
}

.text-decoration:hover {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: underline;
  cursor: pointer;
}
